<!-- CTA section -->
<section id="cta" class="bg-cardinal">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta__box color-white">
          <h3>Book your table for lunch or dinner.</h3>
          <a class="btn btn-lg btn-white-smoke" href="/contact">Reserve Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
