@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

/* colors */
:root {
  --cardinal: #af1f24;
  --white: #ffffff;
  --black: #000000;
  --white-smoke: #f5f5f5;
  --pink-salmon: #ff8d90;
  --blue-charcoal: #212529;
  --granite-gray: #5a5a5a;
  --black-pearl: #0f1317;
}

body {
  color: var(--black-pearl);
  font-family: 'Mulish', sans-serif;
  position: relative;
}

p {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h5 {
  font-family: 'Arvo', serif;
}

::selection {
  background: var(--pink-salmon);
}

/* navigation */
#navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--cardinal);
}

.nav-link {
  font-size: 1.25rem;
}

/* custom scrollbar */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--white-smoke);
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--white-smoke);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cardinal);
}

/* buttons */
.btn {
  border-radius: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px !important;
}

.btn-lg {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.btn-white-smoke {
  background-color: var(--white-smoke);
  border-color: var(--white-smoke);
  color: var(--cardinal);
}
.btn-white-smoke:hover {
  background-color: var(--black-pearl);
  border-color: var(--black-pearl);
  color: var(--white);
}

.btn-cardinal {
  background-color: var(--cardinal);
  border-color: var(--cardinal);
  color: var(--white);
}

.btn-cardinal:hover {
  background-color: var(--black-pearl);
  border-color: var(--black-pearl);
  color: var(--white);
}

.btn-outline-cardinal {
  border-color: var(--cardinal);
  color: var(--cardinal);
}

.btn-outline-cardinal:hover {
  background-color: var(--black-pearl);
  border-color: var(--black-pearl);
  color: var(--white);
}

/* section */
.section-pad-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title--light h2 {
  color: var(--white);
}

.section-title--light p {
  color: var(--pink-salmon);
}

.section-title--dark h2 {
  color: var(--black-pearl);
}

.section-title--dark p {
  color: var(--granite-gray);
}

.content--narrow {
  margin: 0 auto;
  max-width: 58rem;
  width: 100%;
}

/* pages */
.page-header {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background-position: center;
  background-size: cover;
  position: relative;
  color: var(--white);
  padding-left: 4rem;
}

.page-header h1 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.page-header h1::after {
  background-color: var(--cardinal);
  content: '';
  display: inline-block;
  height: 3px;
  position: absolute;
  bottom: -1rem;
  vertical-align: middle;
  width: 4rem;
  left: 0;
  margin-right: -50%;
}

/* backgrounds */
.bg-cardinal {
  background-color: var(--cardinal);
}

.bg-white-smoke {
  background-color: var(--white-smoke);
}

.bg-black-pearl {
  background-color: var(--black-pearl);
}

.color-cardinal {
  color: var(--cardinal);
}

.color-pink-salmon {
  color: var(--pink-salmon);
}

.color-white {
  color: var(--white);
}

/* logo */
.logo {
  height: 3rem;
}

/* footer */
footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: var(--white-smoke);
}

.footer-logo img {
  height: 8rem;
  margin-bottom: 1.5rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-socials li {
  transition: all 0.5s;
  border-radius: 50%;
  margin: 0 0.5rem;
  background-color: var(--blue-charcoal);
}

.footer-socials .nav-item a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.footer-socials li:hover {
  background-color: var(--cardinal);
  border-radius: 50%;
}

.footer-socials li i {
  transition: all 0.5s;
}

.footer-socials li:hover i {
  color: var(--blue-charcoal);
}

.copyright {
  margin-bottom: 0;
  font-size: 0.8rem;
  border-top: 1px solid var(--granite-gray);
  padding-top: 1rem;
}

/* cta section */
#cta {
  background: url('../images/cta-bg.jpg');
}

.cta__box {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta__box h3 {
  margin-bottom: 0;
}

/* back to top */
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 3rem;
  height: 3rem;
  background-color: var(--white-smoke);
  text-decoration: none;
}

.top-link.show {
  visibility: visible;
  opacity: 1;
}

.top-link.hide {
  visibility: hidden;
  opacity: 0;
}

.top-link i {
  color: var(--black-pearl);
}

.top-link:hover {
  background-color: var(--cardinal);
}

.top-link:hover i {
  color: var(--white);
}

/* mouse scroll */
.mouse {
  width: 26px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 24px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.mouse:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -2px;
  background-color: var(--white);
  border-radius: 100%;
  width: 4px;
  height: 4px;
  opacity: 1;
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

/* form */
select:invalid {
  color: gray;
}
